<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />
  <div id="package" class="package">
    <!-- Title -->
    <h2 class="head">
      ${c.pkg_dict.get('title','')}
      <p class="atom-feed-link package-history-link">
        <a
          href="${url(controller='ckanext.catalog.controller:CatalogController', action='history', id=c.pkg.name, format='atom', days=7)}"
          title="${g.site_title} - Catalog History - ${c.pkg.name}">
          Subscribe &raquo;</a>
      </p>
    </h2>

    <py:def function="details_item(label, value)">
       <tr>
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${value}
          </td>
        </tr>
    </py:def>

    <div class="details subsection">
    <table>
      <tbody>
        <tr>
          <td class="package-label">Homepage</td>
          <td class="package-details">${c.pkg_url_link}</td>
        </tr>
        <tr>
          <td class="package-label">Description</td>
          <td class="package-details">${c.pkg_notes_formatted}</td>
        </tr>
        <tr>
          <td class="package-label">Publisher</td>
          <td class="package-details">${c.pkg_dict['author']}</td>
        </tr>
        <tr py:for="key, value in c.pkg_extras">
          <td class="package-label">${_(key)}</td>
          <td class="package-details">${value}</td>
        </tr>
      </tbody>
          <caption py:if="h.am_authorized(c, actions.EDIT, c.pkg)">
              Something missing? ${h.subnav_link(c, 'Please help improve this page by adding more information', controller='ckanext.catalog.controller:CatalogController', action='edit', id=c.pkg.name)}.
          </caption>
    </table>
    </div>

    <hr class="cleared" />
  </div> <!-- /package -->

</html>
