/* Main CSS for Catalog Extension */

ul.packages { clear: both; }
#package-edit dd, #package-edit dl { margin-bottom: 0; }
#package-edit select { margin-bottom: 0.5em; }
div.details.subsection { margin-top: 2em; }
#site-generator a { padding-left: 0; }
#content #curators-heading { margin-top: 2em; }

/* Link colours */
/* light: #00A9D9 */
/* dark: #006699 */
#access ul li a { color: #00a9d9; }
a { 
    color: #00a9d9; 
    text-decoration: none;
}
a:link {
    color: #00a9d9; 
    text-decoration: none;
}
a:visited {
    color: #00a9d9; 
    text-decoration: none;
}
