/* Main CSS for Catalog Extension */

ul.packages { clear: both; }
#package-edit dd, #package-edit dl { margin-bottom: 0; }
#package-edit select { margin-bottom: 0.5em; }
div.details.subsection { margin-top: 2em; }
#site-generator a { padding-left: 0; }
#content #curators-heading { margin-top: 2em; }

/* Link colours */
/* light: #00a9d9 */
/* dark: #006699 */
#access ul li a { color: #00a9d9; }
a { 
    color: #00a9d9; 
    text-decoration: none;
}
a:link {
    color: #00a9d9; 
    text-decoration: none;
}
a:visited {
    color: #00a9d9; 
    text-decoration: none;
}

/* side bar panels */
#primary .widget-container {
    background: #b4e6fa;
    color: #333;
    border: 1px solid #00a9d9;
}
#main .widget-area ul ul { margin-left: 0; }
#side-recently-changed ul { margin-bottom: 2em; }
#side-recently-changed .title { font-weight: bold; }
#side-recently-changed li { 
    list-style-type: none; 
    margin-bottom: 1em;
}
