/* Main CSS for Catalog Extension */

ul.packages { clear: both; }
#package-edit .state { display: none; }
#package-edit dd, #package-edit dl { margin-bottom: 0; }
#package-edit select { margin-bottom: 0.5em; }
div.details.subsection { margin-top: 2em; }
#site-generator a { padding-left: 0; }
