<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
    <py:def function="page_title">About</py:def>

    <div py:match="content">
        <h2>About datacatalogs.org</h2>

        <p>
        DataCatalogs.org aims to be the most comprehensive list of 
        <a href="http://www.opendefinition.org">open data</a> catalogs in the world. 
        It is curated by a group of leading open data experts from around the world - 
        including representatives from local, regional and national governments, 
        international organisations such as the UN and the World Bank, and numerous NGOs.
        </p>

        <h2 id="curators-heading">Curators</h2>
        <ul id="curators">
            <li>Antonio Acuña, 
                <a href="http://data.gov.uk/">data.gov.uk</a> (<strong>UK</strong>)
            </li>
            <li>Jose Manuel Alonso, 
                <a href="http://www.webfoundation.org/">Web Foundation</a> (<strong>US</strong>)
            </li>
            <li>Lisa Cornish, 
                <a href="http://data.gov.au/">data.gov.au</a> (<strong>Australia</strong>)
            </li>
            <li>Daniel Dietrich, 
                <a href="http://okfn.org/">Open Knowledge Foundation</a> (<strong>Germany</strong>)
            </li>
            <li>Eveline van Dijck, 
                <a href="http://www.rijksoverheid.nl/ministeries/bzk">
                    Ministerie van Binnenlandse Zaken en Koninkrijksrelaties
                </a> (<strong>Netherlands</strong>)
            </li>
            <li>John Erickson, <a href="http://www.rpi.edu/">RPI</a> (<strong>US</strong>)</li>
            <li>Martín Álvarez Espinar, 
                <a href="http://fundacionctic.org/">CTIC</a> (<strong>Spain</strong>)
            </li>
            <li>Augusto Herrmann, 
                <a href="http://www.planejamento.gov.br/">
                    Ministry of Planning, Budget and Management 
                </a>
                (<strong>Brazil</strong>)
            </li>
            <li>Tariq Khokhar, 
                <a href="http://data.worldbank.org/">World Bank</a> (<strong>International</strong>)
            </li>
            <li>Sylvain Latour, 
                <a href=" http://www.tbs-sct.gc.ca">Canadian Government</a> (<strong>Canada</strong>)
            </li>
            <li>Tom Lee, 
                <a href="http://sunlightfoundation.com/">Sunlight Foundation</a> (<strong>US</strong>)
            </li>
            <li>Cathrine Lippert, Danish Government (Denmark)</li>
            <li>Luca Martinelli, 
                <a href="http://ec.europa.eu/information_society/index_en.htm">European Commission</a> 
                (<strong>Europe</strong>)
            </li>
            <li>Sverre-Andreas Lunde-Danbolt, Ministry of Government Administration and Reform (Norway)</li>
            <li>Andrew McLaughlin, Civic Commons (US)</li>
            <li>Thomas Roessler, W3C (International)</li>
            <li>Paul Suijkerbuijk, ICTU (Netherlands)</li>
            <li>Ton Zijlstra, ePSIplatform (Europe)</li>
        </ul>
	</div>

    <xi:include href="layout.html" />
</html>
