<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />
  <div id="package" class="package">
    <!-- Title -->
    <h2 class="head">
      ${c.pkg_dict.get('title','')}
    </h2>

    <py:def function="details_item(label, value)">
       <tr>
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${value}
          </td>
        </tr>
    </py:def>

    <div class="details subsection">
    <table>
      <tbody>
        <tr>
          <td class="package-label">Homepage</td>
          <td class="package-details"><span property="foaf:homepage">${c.pkg_url_link}</span></td>
        </tr>
        <tr>
          <td class="package-label">Description</td>
          <td class="package-details">${c.pkg_notes_formatted}</td>
        </tr>
        <tr>
          <td class="package-label">Publisher</td>
          <td class="package-details">${c.pkg_dict['author']}</td>
        </tr>
        <tr>
          <td class="package-label">Metadata License</td>
          <td class="package-details">
              <py:choose test="">
              <py:when test="c.pkg.license and c.pkg.license.url">
                <a href="${c.pkg.license.url}">${c.pkg.license.title}</a>
              </py:when>
              <py:when test="c.pkg.license">${c.pkg.license.title}</py:when>
              <py:when test="c.pkg.license_id">${c.pkg.license_id}</py:when>
              <py:otherwise test="">
                -
              </py:otherwise>
              </py:choose>
          </td>
        </tr>
        <!-- TODO: search the list of extras for fields instead of hardcoding the order in here -->
        <tr>
          <td class="package-label">Spatial Coverage</td>
          <td class="package-details">${c.pkg_extras[2][1]}</td>
        </tr>
      </tbody>
          <caption py:if="h.am_authorized(c, actions.EDIT, c.pkg)">
              Something missing? ${h.subnav_link(c, 'Please help improve this page by adding more information', controller='ckanext.datacatalogs.controller:DataCatalogsController', action='edit', id=c.pkg.name)}.
          </caption>
    </table>
    </div>

    <hr class="cleared" />
  </div> <!-- /package -->

</html>
